<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌管理</title>
    <link rel="stylesheet" href="/static/css/elementui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/ico/favicon.ico">
    <!-- 上传图片框样式，不使用上传组件可以删除此样式 -->
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 150px;
            height: 100%;
            line-height: 150px;
            text-align: center;
        }

        .avatar {
            width: 150px;
            height: 70px;
            display: block;
        }

        .el-dialog {
            min-width: 600px;
            max-width: 800px;
        }

        th > .cell {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="content-header">
            <h1>管理<small>brand管理</small></h1>
            <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>管理</el-breadcrumb-item>
                <el-breadcrumb-item>brand管理</el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <div class="app-container">
            <div class="box">
                <div class="filter-container">
                    <el-form :inline="true">
                        <el-form-item lable="品牌名称">
                            <el-input v-model="searchMap.name" placeholder="品牌名称" class="filter-item"></el-input>
                        </el-form-item>
                        <el-form-item lable="品牌的首字母">
                            <el-input v-model="searchMap.letter" placeholder="品牌的首字母" class="filter-item"></el-input>
                        </el-form-item>
                        <el-button type="primary" @click="_getSearchBrandList">查询</el-button>
                        <el-button type="primary" @click="addBrandForm">添加品牌</el-button>
                    </el-form>
                </div>
                <el-table
                        :data="brandList"
                        border
                        style="width: 100%">
                    <el-table-column
                            prop="id"
                            label="ID"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="名称"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="letter"
                            label="首字母">
                    </el-table-column>
                    <el-table-column
                            label="图片"
                            width="180">
                        <template slot-scope="scope">
                            <img width="100" height="50" :src="scope.row.image" alt="">
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="操作"
                            width="180">
                        <template slot-scope="scope">
                            <el-tooltip class="item" effect="dark" content="修改品牌" placement="top">
                                <el-button type="warning" icon="el-icon-edit" @click="editBrand(scope.row.id)" circle></el-button>
                            </el-tooltip>
                            <el-tooltip class="item" effect="dark" content="删除品牌" placement="top">
                                <el-button type="danger" icon="el-icon-delete" @click="deleteBrand(scope.row.id)" circle></el-button>
                            </el-tooltip>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination-container">
                    <el-pagination
                        background
                        @size-change="_rowsChange"
                        @current-change="_pageChange"
                        :current-page.sync="currentPage"
                        :page-sizes="[10, 20, 30, 40]"
                        :page-size="size"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="total">
                </el-pagination>
                </div>
                <el-dialog title="品牌信息" :visible.sync="dialogFormVisible">
                    <el-form :model="pojo">
                        <el-form-item label="品牌名称" :label-width="formLabelWidth">
                            <el-input v-model="pojo.name" autocomplete="off" placeholder="品牌名称"></el-input>
                        </el-form-item>
                        <el-form-item label="品牌的首字母" :label-width="formLabelWidth">
                            <el-input v-model="pojo.letter" autocomplete="off" placeholder="品牌的首字母"></el-input>
                        </el-form-item>
                        <el-form-item label="品牌图片" :label-width="formLabelWidth">
                            <el-upload
                                    class="avatar-uploader"
                                    action="/upload/native"
                                    accept="image/png, image/jpeg, image/jpg"
                                    ref="upload"
                                    :auto-upload="false"
                                    :show-file-list="false"
                                    :on-change="imgSaveToUrl"
                                    :on-success="handleAvatarSuccess"
                                    :before-upload="beforeAvatarUpload">
                                <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>
                        </el-form-item>
                        <el-form-item label="排序" :label-width="formLabelWidth">
                            <el-input v-model="pojo.seq" autocomplete="off" placeholder="排序"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="showDialogForm">取 消</el-button>
                        <el-button type="primary" @click="addAndUpdateBrand">确 定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>

    </div>
</body>
<script src="/static/js/vue.js"></script>
<script src="/static/js/vue-router.js"></script>
<script src="/static/js/elementui.js"></script>
<script src="/static/js/axios.js"></script>
<script>
    let Main = {
        data () {
            return {
                brandList: [],
                currentPage: 1,
                total: 10,
                size: 10,
                searchMap: {},
                dialogFormVisible: false,
                formLabelWidth: '120px',
                pojo: {},
                imageUrl: ''
            }
        },
        created () {
            this._getSearchBrandList()
        },
        methods: {
            _getBrandList () {
                axios.get('/brand/findPage', {
                    params: {
                        page: this.currentPage,
                        size: this.size
                    }
                }).then(res => {
                    this.brandList = res.data.rows
                    this.total = res.data.total
                })
            },
            _getSearchBrandList () {
                axios.post(`/brand/findPage?page=${this.currentPage}&size=${this.size}`, this.searchMap).then(res => {
                    this.brandList = res.data.rows
                    this.total = res.data.total
                })
            },
            addAndUpdateBrand () {
                this.pojo.image = this.imageUrl;
                if (this.pojo.id) {
                    this.updateBrand('update')
                } else {
                    this.$refs.upload.submit()
                }
            },
            addBrandForm () {
                this.imageUrl = ''
                this.showDialogForm()
            },
            updateBrand (url) {
                axios.post(`/brand/${url}`, this.pojo).then(res => {
                    this.myMessage(res, true, this.dialogFormVisible)
                })
            },
            editBrand (id) {
                this.showDialogForm();
                axios.get(`/brand/findById`, {
                    params: {
                        id
                    }
                }).then(res => {
                    if (typeof res.data === "object") {
                        this.pojo = res.data
                        this.imageUrl = this.pojo.image
                    }
                })
            },
            deleteBrand (id) {
                this.$confirm('确定要删除此记录吗？', '提示', {
                    cancelButtonText: '取消',
                    confirmButtonText: '确认',
                    type: 'warning'
                }).then(() => {
                    // 获取当前要删除的相册对象
                    axios.get(`/brand/findById?id=${id}`).then(res => {
                        this.pojo = res.data;
                    })
                    axios.get('/brand/delete', {
                        params: {
                            id
                        }
                    }).then(res => {
                        // 由于在 brand 表中有很多的图片初始数据为空所以要做一些判断
                        if (this.pojo.image) {
                            let str = this.pojo.image.split('/');
                            let imageName = str[str.length - 1];
                            // 对于所有有照片上传的，应在删除成功后进行图片的删除，
                            // 但在真正的开发环境中不要直接提供删除文件的接口，
                            // TODO 直接在后端删除进行处理即可
                            axios.post(`/upload/delete?fileName=${imageName}`).then(res => {
                                console.log(res);
                                if (typeof res.code !== 'undefined' && res.code !== 200) {
                                    this.$message({
                                        type: 'error',
                                        message: res.message
                                    })
                                }
                            })
                        }
                        this.myMessage(res, true, this.dialogFormVisible)
                    })
                })
            },
            myMessage(res, needRefresh, needClose) {
                if (res.data.code !== 200) {
                    this.$message({
                        message: res.data.message,
                        type: 'error'
                    })
                    return
                }
                this.$message({
                    message: res.data.message,
                    type: 'success'
                })
                if (needRefresh) this._getSearchBrandList()
                if (needClose) this.showDialogForm();
            },
            _rowsChange(val) {
                this.size = val
                this._getSearchBrandList()
            },
            _pageChange(val) {
                this.currentPage = val
                this._getSearchBrandList()
            },
            showDialogForm() {
                this.pojo = {}
                this.dialogFormVisible = !this.dialogFormVisible
            },
            imgSaveToUrl (event) {
                let URL = null
                if (window.createObjectURL !== undefined) {
                    // basic
                    URL = window.createObjectURL(event.raw);
                } else if (window.URL !== undefined) {
                    // mozilla(firefox)
                    URL = window.URL.createObjectURL(event.raw);
                } else if (window.webkitURL !== undefined) {
                    // webkit or chrome
                    URL = window.webkitURL.createObjectURL(event.raw);
                }
                this.imageUrl = URL
            },
            handleAvatarSuccess (res, file) {
                this.pojo.image = res.message
                this.updateBrand('add')
            },
            beforeAvatarUpload (file) {
                let isImage = true
                if(!(file.type === 'image/png' || file.type === 'image/jpg' || file.type === 'image/jpeg')) {
                    isImage = false
                }
                const isLt2M = file.size / 1024 /1024 <= 2;
                if (!isImage) this.$message({
                    message: '请上传格式为 PNG、 JPG、JPEG 的图片！',
                    type: 'error'
                })
                if (!isLt2M) this.$message({
                    message: '上传封面图片大小不能超过 2MB ！',
                    type: 'error'
                })
                return isImage && isLt2M;
            }
        }
    }
    let Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
</html>