<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>规格参数</title>
    <link rel="stylesheet" href="/static/css/elementui.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="app">
    <div class="content-header">
        <h1>管理<small>模板管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>管理</el-breadcrumb-item>
            <el-breadcrumb-item>模板管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-form :inline="true">
                    <el-form-item label="模板名称">
                        <el-input v-model="searchMap.name" placeholder="模板名称" class="filter-item" ></el-input>
                    </el-form-item>
                    <el-button type="primary" @click="_getSearchTemplateList">查询</el-button>
                    <el-button type="primary" @click="showTemplateDialogForm">添加模板</el-button>
                </el-form>
            </div>
            <el-table
                    :data="templateList"
                    border
                    style="width: 100%">
                <el-table-column
                        prop="id"
                        label="ID"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="模板名称"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="specNum"
                        label="规格数量"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="paraNum"
                        label="参数数量"
                        width="180">
                </el-table-column>
                <el-table-column
                        label="设置"
                        width="400">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="goSpec(scope.row.id)">规格列表</el-button>
                        <el-button type="primary" size="mini" @click="goParam(scope.row.id)">参数列表</el-button>
                    </template>
                </el-table-column>
                <el-table-column
                        label="操作"
                        width="180">
                    <template slot-scope="scope">
                        <el-tooltip class="item" effect="dark" content="修改模板" placement="top">
                            <el-button type="waring" icon="el-icon-edit" @click="editTemplate(scope.row.id)" circle></el-button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="删除模板" placement="top">
                            <el-button type="danger" icon="el-icon-delete" @click="deleteTemplate(scope.row.id)" circle></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    background
                    @size-change="templateRowsChange"
                    @current-change="templatePageChange"
                    :current-page.sync="currentPage"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="size"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
            <el-dialog title="模板信息" :visible.sync="dialogFormVisible">
                <el-form :model="pojo">
                    <el-form-item label="模板名称" :label-width="formLabelWidth">
                        <el-input v-model="pojo.name" autocomplete="off" placeholder="模板名称"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="showTemplateDialogForm">取 消</el-button>
                    <el-button type="primary" @click="addAndUpdateTemplate">确 定</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
</div>
</body>
<script src="/static/js/vue.js"></script>
<script src="/static/js/elementui.js"></script>
<script src="/static/js/axios.js"></script>
<script>
    let Main = {
        data () {
            return {
                templateList: [],
                currentPage: 1,
                total: 10,
                size: 10,
                searchMap: {},
                dialogFormVisible: false,
                formLabelWidth: '120px',
                pojo: {}
            }
        },
        created () {
            this._getSearchTemplateList();
        },
        methods: {
            _getSearchTemplateList () {
                axios.post(`/template/findPage?page=${this.currentPage}&size=${this.size}`, this.searchMap).then(res => {
                    this.templateList = res.data.rows
                    this.total = res.data.total
                })
            },
            addAndUpdateTemplate () {
                let url = this.pojo.id ? 'update' : 'add'
                axios.post(`/template/${url}`, this.pojo).then(res => {
                    this.myMessage(res, true, this.dialogFormVisible)
                })
            },
            editTemplate (id) {
                this.showTemplateDialogForm();
                axios.get(`/template/findById`, {
                    params: {
                        id
                    }
                }).then(res => {
                    if (typeof res.data === "object") {
                        this.pojo = res.data
                    }
                })
            },
            deleteTemplate (id) {
                this.$confirm('确定要删除此记录吗？', '提示', {
                    cancelButtonText: '取消',
                    confirmButtonText: '确认',
                    type: 'warning'
                }).then(() => {
                    axios.get('/template/delete', {
                        params: {
                            id
                        }
                    }).then(res => {
                        this.myMessage(res, true, this.dialogFormVisible)
                    })
                })
            },
            myMessage(res, needRefresh, needClose) {
                if (res.data.code !== 200) {
                    this.$message({
                        message: res.data.message,
                        type: 'error'
                    })
                    return
                }
                this.$message({
                    message: res.data.message,
                    type: 'success'
                })
                if (needRefresh) this._getSearchTemplateList()
                if (needClose) this.showTemplateDialogForm();
            },
            templateRowsChange(val) {
                this.size = val
                this._getSearchTemplateList()
            },
            templatePageChange(val) {
                this.currentPage = val
                this._getSearchTemplateList()
            },
            showTemplateDialogForm() {
                this.pojo = {}
                this.dialogFormVisible = !this.dialogFormVisible
            },
            goSpec (id) {
                location.href = '/goods/spec?templateId=' + id
            },
            goParam (id) {
                location.href = '/goods/param?templateId=' + id
            }
        }
    }
    let vm = Vue.extend(Main)
    new vm().$mount('#app');
</script>
</html>